{% extends 'base.html.twig' %}

{% block title %} New User {% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center">New User registration</h3>
        {{ form_start(form) }}
        {{ form_row(form.email, {
            'label': ' '
        }) }}
        {{ form_row(form.plainPassword.first, {
            'label': ' ',
            'class': 'form-control'
        }) }}
        {{ form_row(form.plainPassword.second, {
            'label': ' ',
            'help': 'Repeat the password'
        }) }}
        <button type="submit" class="btn btn-success" formnovalidate>Register</button>
        {{ form_end(form) }}

    </div>
        {% if debug %}
        <br><br><br><br>
        <div class="alert alert-danger">
            {{ debug }}
        </div>
    {% endif %}
{% endblock %}